---
layout: default
title: $tony2001
---
{% for post in site.posts limit:3 %}
<p><a class="bold" href="{{post.url}}">{{post.title}}</a> {% if post.tags.size != 0 %} [tags: {{post.tags}}] {% endif %}</p>
<p>{{post.content | strip_html | truncatewords:40,'' }}<a class="bold" href="{{post.url}}">...</a></p>
<p>{{ post.date | date_to_string }} | <a href="{{post.url}}#disqus_thread"></a> {% if post.tags.size != 0 %} | Tags:{% for tag in post.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a> {% endfor %} {% endif %}</p>
<hr>
{% endfor %}
